<input matInput placeholder="Search Project" [formControl]="searchControl">


<div *ngIf="projects$ | async as res">
    <table mat-table [dataSource]="res.data">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name']"></tr>
    </table>

    <mat-paginator [length]="res.totalCount" [pageSize]="5" (page)="pageChange($event)">
    </mat-paginator>
</div>